button {
    border-radius: 8px;
    padding: 8px 16px;
    border: none;
    flex-grow: 1; // Ensures both buttons have the same width and height
    font-size: 14px;
    font-weight: 500; // Consolidated button font styles
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &.btnDark {
        background-color: #1a1a1a;
        border: 1px solid #3d3d3d;
        color: rgb(246, 246, 246);

        &:hover {
            background-color: rgba(61, 61, 61, 0);
            color: rgb(246, 246, 246);
            border: 1px solid rgb(61, 61, 61);
        }
    }

    &.btnLight {
        background-color: rgb(246, 246, 246);
        color: rgb(18, 18, 18);
        border: 1px solid #3d3d3d;

        &:hover {
            background-color: #1a1a1a;
            color: rgb(246, 246, 246);
            border: 1px solid rgb(61, 61, 61);
        }
    }
}
