<section class="sidebar">
    <div class="top">
        <div class="left">
            <img decoding="async"
                src="https://framerusercontent.com/images/ujCLih4cez7IcLTUCq3voRvZblE.jpg?scale-down-to=512" alt="">
        </div>
        <div class="right">
            <h3>Sanket</h3>
            <p>Software Engineer</p>
        </div>
    </div>
    <div class="middle">
        <app-menus></app-menus>
    </div>
    <div class="bottom">
        <app-social-media></app-social-media>
    </div>
</section>