.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  border-bottom: 1px dashed #3d3d3d;

  a {
    text-decoration: none;
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;

    h1 {
      font-size: 48px;
      font-weight: bold;
      letter-spacing: 0em;
      line-height: 1.2em;

      @media screen and (max-width: 992px) {
        font-weight: bolder;

      }

    }
  }

  .desc {
    width: 60%;

    p {
      font-size: 16px;
      line-height: 1.5em;
      color: #888888;
      letter-spacing: 1px;
    }

    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }

  .btn {
    display: flex;
    gap: 8px;
    /* Ensures space between buttons */
    font-weight: bold;

  }
}

.availabel {
  padding: 6px 12px;
  background: #242424;
  display: inline-block;
  border-radius: 8px;

  .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: none;
  }

  p {
    background: transparent;
    font-weight: 200 !important;
    color: rgb(246, 246, 246) !important;
  }

  .framer-1rdggys {
    background-color: #00e362;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-right: 6px;
  }
}