<section>
    <div class="hero">
        <div class="availabel">
            <div class="wrapper">
                <span class="framer-1rdggys"></span>
                <p>Available for Work</p>
            </div>
        </div>

        <div class="title">
            <h1 class="framer-text framer-styles-preset-12k0fqr" data-styles-preset="ejgARf07n"
                style="--framer-text-alignment: left;">Hey, I'm Sanket.</h1>
            <h1 class="framer-text framer-styles-preset-12k0fqr" data-styles-preset="ejgARf07n"
                style="--framer-text-alignment: left;">I'm a Software Engineer.</h1>
        </div>

        <div class="desc">
            <p>I'm a software engineer with 4 years of experience in crafting websites and digital experiences. I
                specialize in full-stack web development and mobile app development, delivering seamless, user-friendly
                solutions.</p>
        </div>

        <div class="btn">
            <a routerLink="/contact">
                <app-button label="Get In Touch" color="Light"></app-button>
            </a>
            <a routerLink="/about">
                <app-button label="About Me" color="Dark"></app-button>
            </a>
        </div>
    </div>

    <app-recent-component [data]="data"></app-recent-component>

    <app-testimonials></app-testimonials>
    <app-stack></app-stack>
</section>